# coding: utf-8 
<!DOCTYPE html>
<html>

<head>
    <title>宣传物料预览</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <script type="text/javascript" src="../../static_dest/static/new/js/plug/flexible.debug.js"></script>
    <link rel="stylesheet" href="../../static_dest/static/new/css/show_material.css">
</head>

<body>
    <div id="wap" class="js_show_material_index">
        <ul class="section_ul js_section_ul">
            <li class="tab">定制海报</li>
            <li>桌贴和桌牌</li>
        </ul>
        <section class="section_index js_section_index">
            <p class="grey">定制海报尺寸：420x570mm，建议店内张贴</p>
            <div class="pic js_haibao">
                <img src="../../static_dest/static/new/img/haibao.png" />
            </div>
        </section>
        <section class="section_index js_section_index" style="display: none;">
            <p class="grey">1.桌贴尺寸：75x100mm，建议贴在餐桌上</p>
            <div class="pic js_zhuotie">
                <img src="../../static_dest/static/new/img/zhuotie.png" />
            </div>
            <p class="grey">2.桌牌尺寸：120x170mm，建议放在收银台处</p>
            <div class="pic js_zhuotieb">
                <img src="../../static_dest/static/new/img/zhuotie.png" />
            </div>
        </section>
        <section class="section_footer">
            <span class="content_sub js_emailpic_sub">发送全部打印版物料到邮箱</span>
        </section>
    </div>
    <script src="../../static_dest/static/new/js/require.2.1.11.min.js" type="text/javascript" data-main="../../static_dest/static/new/js/b/show_material.js" defer async="true"></script>
</body>

</html>
