# coding: utf-8 
<!DOCTYPE html>
<html>

<head>
    <title>储值教程</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <script type="text/javascript" src="../../static_dest/static/new/js/plug/flexible.debug.js"></script>
    <link rel="stylesheet" href="../../static_dest/static/new/css/user_guide.css">
</head>

<body>
    <div id="wap" class="js_book_index">
        <section class="section_index">
            <p class="title_a">储值有什么物料？</p>
            <ul>
                <li><span class="num">1</span>桌牌和桌贴：桌牌和桌贴的二维码是提供消费者扫码进行储值的指定物料。</li>
                <li><span class="num">2</span>海报：定制化海报，既节省了老板设计的成本，也让店铺宣传更省心。</li>
            </ul>
        </section>
        <section class="section_index">
            <p class="title_a">顾客怎么进行储值？</p>
            <ul>
                <li><span class="num">1</span>顾客可以通过桌牌，桌贴，海报上的二维码扫码进行储值。</li>
                <li><span class="num">2</span>顾客可以微信扫码支付时通过储值活动提示进行储值。</li>
            </ul>
        </section>
        <section class="section_index">
            <p class="title_a">顾客储值充值后多长时间内可以使用储值？</p>
            <ul>
                <li><span class="num">1</span>顾客储值充值后立即就可以使用。</li>
            </ul>
        </section>
        <section class="section_index">
            <p class="title_a">顾客怎么使用储值？</p>
            <ul>
                <li><span class="num">1</span>当顾客储值余额充足时，可以直接微信扫码选择储值支付即可（当前版本是余额充足时强制使用余额支付）。</li>
                <li><span class="num">2</span>当顾客储值余额不足时，可先让消费者用微信支付支付一部分，然后用剩余的储值余额支付。</li>
            </ul>
        </section>
        <section class="section_index">
            <p class="title_a">顾客在哪里可以查看储值余额和储值消费？</p>
            <ul>
                <li><span class="num">1</span>顾客每次消费和储值都会收到短信通知。</li>
            </ul>
        </section>
        <section class="section_index">
            <p class="title_a">怎么保障储值余额的安全呢？</p>
            <ul>
                <li><span class="num">1</span>初次储值充值时，请大家填写正确的手机号码，因为每次充值或消费时都有短信提醒，可及时核对储值余额，有任何问题可及时发现并联系店内工作人员。</li>
            </ul>
        </section>
        <section class="section_index">
            <p class="title_a">储值余额是否有使用期限？</p>
            <ul>
                <li><span class="num">1</span>储值余额是否有使用期限，请注意查看店铺储值规则或者咨询店内小二。</li>
            </ul>
        </section>
        <section class="section_index">
            <p class="title_a">储值充值的金额和储值消费可以退款么？</p>
            <ul>
                <li><span class="num">1</span>顾客储值充值的金额是不可以退款的。</li>
                <li><span class="num">2</span>顾客在使用储值余额消费时，只需和商家协商，并由商家发起退款，退款后交易的余额会自动退回储值余额中。</li>
            </ul>
        </section>
        <section class="section_index">
            <p class="title_a">储值和储值消费怎么清款？</p>
            <ul>
                <li><span class="num">1</span>顾客储值充值后，储值充值的金额会在工作日的第二天到账（工作日不包括周六日）。</li>
                <li><span class="num">2</span>顾客储值充值后，使用储值余额消费时，此类交易是不计为实收的，因为储值充值的金额已经及时划款给商户了。</li>
            </ul>
        </section>
    </div>
</body>

</html>
