# coding: utf-8 
<!DOCTYPE html>
<html>

<head>
    <title>提现详情</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <script type="text/javascript" src="../../static_dest/static/new/js/zepto.min.js"></script>
    <script type="text/javascript" src="../../static_dest/static/new/js/flexible.debug.js"></script>
    <link rel="stylesheet" href="../../static_dest/static/new/css/diff.css">
</head>

<body>
    <div id="wap" class="js_section_detailn">
        <header style="display: block; padding-top:0.53rem;height: 1.173rem;" >
            <h2>提现详情</h2>
        </header>
        <section class="section_detail">
            <dl class="formbg dl_detail dl_d_new">
                <dt class="grey">提现金额：</dt>
                <dd><span class="fr js_money_tips">似懂非懂是</span>￥<span class="money js_detail_money">435.00</span></dd>
                <div class="clearfix"></div>
            </dl>
            <dl class="formbg dl_detail dl_d_new line_s">
                <dt class="grey">提现银行：</dt>
                <dd><span class="js_detail_bank_name">的风格地方</span></dd>
                <div class="clearfix"></div>
                <dt class="grey">提现卡号：</dt>
                <dd><span class="js_detail_banknum">456547657</span></dd>
                <div class="clearfix"></div>
                <dt class="grey">提现时间：</dt>
                <dd><span class="js_detail_time">547656</span></dd>
                <div class="clearfix"></div>
                <dt class="grey">交易单号：</dt>
                <dd><span class="js_detail_order">456748796798797596597</span></dd>
                <div class="clearfix"></div>
            </dl>
        </section>
        <div id="loading"></div>
        <!-- </*弹框*/>  -->
        <div class="alert_con" id="tips_alert">
            <div class="alert_con_t orange">提示<span class="pass_close js_alert_con_close">×</span></div>
            <div class="alert_con_b">
                <div class="alert_con_br"></div>
                <div class="clearfix"></div>
                <span class="diff_sub mar_t2 js_alert_con_close">确定</span>
            </div>
        </div>
        <div class="zheceng"></div>
        <div class="zheceng1"></div>
        <script type="text/javascript" src="../../static_dest/static/new/js/diff.js"></script>
</body>

</html>
